<aside class="wa-sidebar" data-wa-sidebar aria-label="WebAmp navigation">
    <div class="wa-sidebar__inner">
        <div class="wa-sidebar__header">
            <a class="wa-brand wa-brand--sidebar" href="/webamp/home" data-wa-nav="home" aria-label="WebAmp home">
                <span class="wa-brand__mark" aria-hidden="true">WA</span>
                <span class="wa-brand__text">WebAmp</span>
            </a>

            <button type="button" class="wa-iconbtn wa-sidebar__close" data-wa-sidebar-close aria-label="Close menu">
                <span aria-hidden="true">✕</span>
            </button>
        </div>

        <nav class="wa-sidenav" aria-label="Library">
            <a class="wa-sidenav__link" href="/webamp/home" data-wa-nav="home">
                <img class="wa-sidenav__icon" src="~/apps/webamp/assets/svg/home-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Home</span>
            </a>
            <a class="wa-sidenav__link" href="/webamp/search" data-wa-nav="search">
                <img class="wa-sidenav__icon" src="~/apps/webamp/assets/svg/search-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Search</span>
            </a>
            <a class="wa-sidenav__link" href="/webamp/liked" data-wa-nav="liked">
                <img class="wa-sidenav__icon" src="~/apps/webamp/assets/svg/heart-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Liked Songs</span>
            </a>
            <a class="wa-sidenav__link" href="/webamp/playlists" data-wa-nav="playlist">
                <img class="wa-sidenav__icon" src="~/apps/webamp/assets/svg/playlist-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Playlists</span>
            </a>
            <a class="wa-sidenav__link" href="/webamp/albums" data-wa-nav="album">
                <img class="wa-sidenav__icon" src="~/apps/webamp/assets/svg/album-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Albums</span>
            </a>
            <a class="wa-sidenav__link" href="/webamp/artists" data-wa-nav="artist">
                <img class="wa-sidenav__icon" src="~/apps/webamp/assets/svg/person-filled.svg" asp-append-version="true" alt="" aria-hidden="true" />
                <span class="wa-sidenav__label">Artists</span>
            </a>
        </nav>

        <div class="wa-sidebar__footer">
            <button type="button" class="wa-btn wa-btn--icon" data-wa-action="spotify-disconnect" aria-label="Sign Out">
                <span class="wa-sidebar__disconnect-icon" aria-hidden="true">
                    <img src="~/apps/webamp/assets/svg/spotify.svg" asp-append-version="true" alt="" />
                </span>
                <span class="wa-sidebar__disconnect-label">
                    Sign Out
                </span>
            </button>
        </div>
    </div>
</aside>
